img{
    height:200px;

}

.shakil{
    text-align: center;
    background: black;
    color:white;
    width:300px;
    padding:2px;
    margin:auto;
    margin-bottom: 10px;
    box-shadow:2px 1px 7px 2px red;



}